 <!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!-- page correspondante au content home-->
<div ng-controller="Home_traitement">
    
  
    

                    <div style="padding:20px 10px;">
                        
                        <label for="text-1">  Choisir pays</label>
            <div data-role="fieldcontain">										 
                <select name="region" ng-model="pays" data-mini="true">
                    <option>Cameroun</option>
                    
                </select>
            </div>
                       
                        <label for="text-1">  Nom utilisateur:</label>
                        <input type="text" data-clear-btn="true" ng-model="nom_user" placeholder="Votre nom">

                        
                        <label for="text-1">Adresse electronique:</label>
                        <input type="email" data-clear-btn="true" placeholder="Votre adresse electronique"   ng-model="email" >

                       
                        <label for="text-1">Mot de passe:</label>
                        <input name="pass" ng-model="pwd" value="" placeholder="Mot de passe" data-theme="c" type="password">


                        <label for="text-1">Telephone:</label>
                        <input type="tel" data-clear-btn="true" placeholder="Votre telephone"  ng-model="telephone"  >

  
                        <label for="text-1">  Sexe:</label>
                        <div data-role="fieldcontain">										 
                            <select name="select-native-2" ng-model="sexe" data-mini="true">
                                <option value="Masculin">Masculin</option>
                                <option value="feminin">feminin</option>

                            </select>
                        </div>

  

                       <input type="button" data-ajax="false" data-theme="a" ng-click="addCompte()" data-icon="check" value="Creer votre compte" /></a>
                                        <center> {{resultat_compte}}</center>


                    </div>
            

</div>

<!-- fin page correspondante au content home-->