 		 

<!-- controler controller affiche ipes centre -->


<div ng-controller="affiche_ipes_region">


    <form>
        <input name="search-11" id="search-11"  type="search">
    </form>
    <ul data-role="listview" data-inset="true" data-filter="true" data-input="#search-11">                            
        <li data-role="list-divider" data-theme="b">Liste des IPES du centre</li>
        
        <li ng-repeat="data in data_Ipes" li-jq-mobile ng-click="go_id_ipes(data.id_ipes)" ><a href=''>					
                <img src='css/images/{{data.image}}.gif'>

                {{data.nom_ipes}}<br/>
                <i> Sigle :{{data.sigle}} </i><br/>
                Ville : {{data.ville}}    <br/>
          <!--      
                <p class="ui-li-aside"><strong>{{data.quartier}}</strong></p>
           -->
            </a>
        </li>

    </ul>
</div>	





