 

<div ng-controller="gestion_menu_ipes">


    <!-- liste des etablissements  -->
    <ul data-role="listview" data-inset="true">

        <li data-role="list-divider"><font color="red">Adresse</font></li>
        <!-- <li ng-repeat="data in data_etablissement" li-jq-mobile ng-click="go_id_etab(data.id_etablissement)"><a href="#">{{data.labelle_etalissement}}</a> </li> -->
    </ul>

    <div data-role="collapsibleset" data-theme="a" data-content-theme="a" ng-repeat="data in data_adresse" jqm-collapsible-repeat>


        <div class="ui-body ui-body-a ui-corner-all">
            <b>site web :  </b>{{data.site_web_ipes}}

        </div>

        <div class="ui-body ui-body-a ui-corner-all">
            <b>Téléphone : </b> {{data.telephone_ipes}}

        </div>

        <div class="ui-body ui-body-a ui-corner-all">
            <b>Boite postale : </b> {{data.boite_postale_ipes}}

        </div>

        <div class="ui-body ui-body-a ui-corner-all">
            <b>Fax : </b> {{data.fax_ipes}}

        </div>

        <div class="ui-body ui-body-a ui-corner-all">
            <b>Adresse electronique : </b> {{data.mail}}

        </div>

        <div class="ui-body ui-body-a ui-corner-all">
            <b>Localisation : </b> {{data.localisation_ipes}}

        </div>
        <!--       
               
               <div data-role="collapsible">
                   <h3>site web</h3>
                   <p>{{data.site_web_ipes}}</p>
               </div>
               
               <div data-role="collapsible">
                   <h3>Téléphone</h3>
                   <p>{{data.telephone_ipes}}</p>
               </div>
               
               <div data-role="collapsible">
                   <h3>Boite postale</h3>
                   <p>{{data.boite_postale_ipes}}</p>
               </div>
       
               <div data-role="collapsible">
                   <h3>Fax</h3>
                   <p>{{data.fax_ipes}}</p>
               </div>
       
               <div data-role="collapsible">
                   <h3>Adresse electronique</h3>
                   <p>{{data.mail}}</p>
               </div>
       
               <div data-role="collapsible">
                   <h3>Localisation</h3>
                   <p>{{data.localisation_ipes}}</p>
               </div>
               
        -->    
    </div>




</div>




