 
<p></p><p></p>
<div ng-controller="gestion_menu_ipes">


    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider"><font color="red"><center>Etablissements</center></font></li> 
     <center><div class="spinner" ng-show="loader_etab.loading"><img src='css/images/loader_etab.gif'></div></center>
    </ul>

    <div data-role="collapsibleset" data-theme="a" data-content-theme="a">
        <div data-role="collapsible" ng-repeat="data in data_etablissement" jqm-collapsible-repeat>


            <h3 ng-click="go_id_etab(data.id_etablissement)">{{data.labelle_etalissement}}</h3>
            <p>
                <!--  <img src='css/images/{{data.logo_etablissement}}.gif' class="ui-li-icon"> -->
            <center> 
                <label for="textinput-f"><strong>{{data.labelle_etalissement}}</strong></label>
               
                
                
            </center>
            <!-- champs presentation d'un etablissement-->

            <p></p>

            <div class="ui-body ui-body-a ui-corner-all">

                <p>{{data.presentation}} </p>

            </div>    
            <!--
                            <b>site web :  </b>{{data.site_web}} 
                            <ul data-role="listview" data-inset="true">
                                <li><a href="{{data.site_web}}" target="_blank">Visiter le site web</a></li>
            
                            </ul>
            
            
                        
            
            -->

            <!-- fin champs presentation d'un etablissement-->

            <!-- Liste des diplomes -->
            <ul data-role="listview" data-inset="true">
                <li data-role="list-divider"><font color="red"><center>Diplôme préparé</center></font></li>
            
                 <center><div class="spinner" ng-show="loader_diplome.loading"><img src='css/images/loader_diplome.gif'></div></center>

            </ul>

            <div data-role="collapsibleset" data-theme="a" data-content-theme="a">
                <div data-role="collapsible" ng-repeat="data in data_diplome" jqm-collapsible-repeat>

                    <h3 ng-click="go_id_diplome(data.id_diplome)">{{data.labelle_diplome}}</h3>
                    <p>
                        <label for="textinput-f"><center><b>{{data.labelle_diplome}}</b></center></label> 


                        <!-- fin liste de dossier de condidature-->

                    <ul data-role="listview" data-inset="true">
                        <li data-role="list-divider"><font color="red"><center>Dossier de candidature</center></font></li>
                    
                       <center><div class="spinner" ng-show="loader_diplome_dossier.loading"><img src='css/images/loader_dossier_candidature.gif'></div></center>
                       
                    </ul>

                    <div data-role="collapsibleset" data-theme="a" data-content-theme="a">
                        <div data-role="collapsible">

                            <h3  ng-click="go_id_diplome_dossier(data.id_diplome)"><center>Dossier de candidature</center></h3>
                            <p>

                            <div class="ui-body ui-body-a ui-corner-all" ng-repeat="data in data_dossier_candidature" jqm-collapsible-repeat>
                                {{data.doc_candidature}} 

                            </div> 


                        </div>
                    </div> 
                    <!-- fin liste de dossier de condidature-->

                    <!-- fin liste des diplomes -->

                    <!-- Liste des filieres -->

                    <ul data-role="listview" data-inset="true">
                        <li data-role="list-divider"><font color="red"><center>Filières</center></font></li>
                    
                     <center><div class="spinner" ng-show="loader_filiere.loading"><img src='css/images/loader_filiere.gif'></div></center>
                    </ul>

                    <div data-role="collapsibleset" data-theme="a" data-content-theme="a">
                        <div data-role="collapsible" ng-repeat="data in data_filiere" jqm-collapsible-repeat>



                            <h3 ng-click="go_id_filiere(data.id_filiere)">{{data.labelle_filiere}}</h3>
                            <p>
                                <label for="textinput-f"><center><b>{{data.labelle_filiere}}</b></center></label>


                            <div class="ui-body ui-body-a ui-corner-all">
                                <b>Tutelle ou partenaire académique : </b>{{data.tutelle}}
                            </div>



                            <!-- fin Liste des filieres -->
                            <!-- Liste des specialites -->

                            <ul data-role="listview" data-inset="true">
                                <li data-role="list-divider"><font color="red"><center>Spécialités</center></font></li>
                            
                                 <center><div class="spinner" ng-show="loader_specialie.loading"><img src='css/images/loader_specialite.gif'></div></center>
                            </ul>

                            <div data-role="collapsibleset" data-theme="a" data-content-theme="a">
                                <div data-role="collapsible" ng-repeat="data in data_specialite" jqm-collapsible-repeat>

                                    <h3 ng-click="go_id_specialite(data.id_specialite)">{{data.labelle_specialite}}</h3>
                                    <p>
                                        <label for="textinput-f"><center><b>{{data.labelle_specialite}}</b></center></label>


                                        <!-- fin liste de dossier de condidature-->
                                        <!--
                                        <ul data-role="listview" data-inset="true">
                                            <li data-role="list-divider"><font color="red"><center>Grille des Enseignements</center></font></li>
                                        </ul>
                                        -->                
                                        <!-- information sur specialite-->


                                    <div ng-repeat="data in data_option" jqm-collapsible-repeat>      
                                        <div class="ui-body ui-body-a ui-corner-all">
                                            <b>Forme suivie cour : </b>{{data.forme_suivie}}

                                        </div>      

                                        <div class="ui-body ui-body-a ui-corner-all">
                                            <b>Pré-requis :  </b>{{data.pre_requis}}

                                        </div> 

                                        <div class="ui-body ui-body-a ui-corner-all">
                                            <b>Durée : </b>{{data.duree}}

                                        </div>


                                        <div class="ui-body ui-body-a ui-corner-all">
                                            <b>Cours du jour : </b>{{data.cour_jour}}</br>
                                            <b>Date concour :  </b>{{data.date_concour_cour_jour}}</br>
                                            <b>Date rentrée scolaire :  </b>{{data.date_rentree_jour}}</br>
                                            <b>Frais d'étude par année :</b></br>
                                            <b> Inscription : </b>{{data.inscription_cour_jour}} FCFA  </br>
                                            <b> Pension : </b> {{data.pension_cour_jour}}   FCFA

                                        </div>

                                        <div class="ui-body ui-body-a ui-corner-all">
                                            <b>Cours du soir : </b>{{data.cour_soir}}</br>
                                            <b>Date concour :  </b>{{data.date_concour_cour_soir}}</br>
                                            <b>Date rentrée scolaire :  </b>{{data.date_rentree_soir}}</br>
                                            <b>Frais d'étude par année :</b></br>
                                            <b>  Inscription : </b>{{data.inscription_cour_soir}} FCFA  </br>
                                            <b> Pension : </b>  {{data.pension_cour_soir}}  FCFA

                                        </div>

                                    </div>



                                    <!-- fin information sur specialite-->           



                                    <div data-role="collapsibleset" data-theme="a" data-content-theme="a">
                                        <div data-role="collapsible">

                                            <h3  ng-click="go_id_specialite_grille(data.id_specialite)"><center>Grille des Enseignements</center></h3>
                                            
                                            <center><div class="spinner" ng-show="loader_specialie_grille.loading"><img src='css/images/loader_grille_enseignement.gif'></div></center>
                                            <p>
 
                                            <div scroll>
           <!-- la directive scrool permet de mettre les scrollbar dans la div et data-anchor pcq c un tableau -->

                                                <table data-role="table"  data-mode="reflow" class="ui-responsive table-stroke" data-anchor>

                                                    <thead>
                                                        <tr class="th-groups">
                                                            <th data-priority="persist">Semestre</th>
                                                            <th data-priority="persist">Unite Enseignement</th>
                                                            <th data-priority="persist">Durée cours magistral</th>
                                                            <th data-priority="persist"><abbr title="Rotten Tomato Rating">Durée travaux dirrigés</abbr></th>
                                                            <th data-priority="persist">Durée travaux pratique</th>
                                                            <th data-priority="persist">Obligatoire</th>
                                                            <th data-priority="persist">Credits</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody  ng-repeat="data in data_UE">
                                                        <tr>
                                                            <th>{{data.labelle_semestre_ue}}</th>
                                                            <td>{{data.labelle_unite_e}}</td>
                                                            <td>{{data.duree_cour_magistraux}} Heures</td>
                                                            <td>{{data.duree_td}} Heures</td>
                                                            <td>{{data.duree_tp}} Heures</td>
                                                            <td>{{data.obligatoire}}</td>
                                                            <td>{{data.nb_credit}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>


                                            </div> 


                                        </div>
                                    </div> 
                                    <!-- fin liste de dossier de condidature-->

                                    <!-- Liste des options -->

                                    <ul data-role="listview" data-inset="true">
                                        <li data-role="list-divider"><font color="red"><center>Options</center></font></li>
                                    
 
                                    </ul>

                                    <div data-role="collapsibleset" data-theme="a" data-content-theme="a">
                                        <div data-role="collapsible" ng-repeat="data in data_option" jqm-collapsible-repeat>

                                            <h3>{{data.labelle_option}}</h3>
                                            <p>
                                                <label for="textinput-f">{{data.labelle_option}}</label>

                                        </div>
                                    </div>

                                </div>
                                <!-- fin Liste des specialites -->





                            </div>
                        </div>



                    </div>


                </div>



            </div>

        </div>    





    </div>

</div>

</div>


