<div ng-controller="operation_etab"> 
<div ng-controller="operation_diplome">          

    <form>
        <div style="padding:50px 10px;">

          <!--charge la liste des nom des ipes --> 
             <label for="text-1">  Choisir IPES</label>
            <select  ng-options="data as data.nom_ipes for data in data_ipes_name"  ng-model="ipes_etab" x-ng-change="update1(ipes_etab)" >
     
	    </select>
             
            
            <label for="text-1">  Choisir etablissement</label>
          <select  ng-options="data1 as data1.labelle_etalissement for data1 in data_etab_ipes" ng-model="diplome_zero" x-ng-change="update2(diplome_zero)" >
     
	 </select>
   

            <label for="text-1">  Labelle diplome :</label>
            <input name="user" ng-model="label_diplome" value="" placeholder="labelle" data-theme="a" type="text">

            <label for="text-1"> Duree formation</label>
            <input name="nom" ng-model="duree_formation" value="" placeholder="duree formation " data-theme="a" type="text">
         <!--   
             <label for="text-1"> Tutelle ou partenaire académique</label>
            <input name="nom" ng-model="tutelle" value="" placeholder="tutelle ou partenaire académique " data-theme="a" type="text">

      -->

            <label for="text-1">  Choisir état</label>
            <div data-role="fieldcontain">										 
                <select  ng-model="etat_diplome" data-mini="true">
                    <option>actif</option>
                    <option>inactif</option>

                </select>
            </div>


            <input value="Enregistrer" data-icon="check" ng-click="save_diplome()" data-iconpos="right" data-mini="true" data-theme="e" type="button">											
                                   <center><div> {{result_add_diplome}}</div> </center>

        </div>	

    </form>


</div>	 
 </div>