 
<div ng-controller="operation_adresse_ipes">          

    <form>
        <div style="padding:50px 10px;">



            <label for="text-1">  Choisir IPES</label>

            <select  ng-options="data as data.nom_ipes for data in data_ipes_name" select-menu-refresh ng-model="etab_zero" x-ng-change="update(etab_zero)" >

            </select>



            <label for="text-1">  Site web :</label>
            <input name="user" ng-model="site_web" value="" placeholder="site web" data-theme="a" type="text">

            <label for="text-1">  Téléphone</label>
            <input name="nom" ng-model="telephone" value="" placeholder="téléphone " data-theme="a" type="text">

            <label for="text-1"> Boite postal</label>
            <input name="nom" ng-model="boite_postal" value="" placeholder="boite postal " data-theme="a" type="text">

            <label for="text-1"> Fax</label>
            <input name="nom" ng-model="fax" value="" placeholder="fax " data-theme="a" type="text">

            <label for="text-1"> Mail</label>
            <input name="nom" ng-model="mail" value="" placeholder="mail " data-theme="a" type="text">
            
          
            <input value="Enregistrer" data-icon="check" ng-click="save_adresse_ipes()" data-iconpos="right" data-mini="true" data-theme="e" type="button">											
            <center><div> {{result_add_adresse_ipes}}</div> </center>
        </div>	

    </form>


</div> 
