 

<div  ng-controller="controler_affiche_Ipes_all"> 

    
     
   
    <form>

        <div style="padding:10px 20px;">

            <label for="text-1">  Choisir votre IPES :</label>
  <!--          
            <div data-role="fieldcontain">										 
                 <select id="filter-menu" data-native-menu="true"     										 
           
                ng-options="data as data.nom_ipes for data in data_Ipes_all"
                ng-model="selected"
                ng-change="changeFoodCatagory(selected)"
                select-menu-refresh
                style="width:75px">
                </select>

            </div>
-->            
             <select  ng-options="data as data.nom_ipes for data in data_Ipes_all" select-menu-refresh ng-model="item" x-ng-change="update(item)" >
                 
	</select>
  

            <label for="text-1">Adresse electronique:</label>
            <input type="email" data-clear-btn="true" placeholder="Votre adresse electronique"   id="email" >


            <label for="text-1">  Titre Message :</label>
            <input name="titre_annonce" id="titre_annonce" value="" placeholder="Titre message" data-theme="a" type="text"/>

            <label for="textarea-6">Votre message:</label>
            <textarea cols="40" rows="3" name="annonce" id="annonce" placeholder="Votre message"></textarea>

         

             <input type="button" data-ajax="false" data-theme="a" ng-click="Envoyer_message()" data-icon="check" value="Envoyer" />

        </div>

    </form>
    <div id="result"></div>
 
</div>


