    
<div ng-controller="liste_Region">          
    <div ng-controller="liste_name_region"> 
        <div ng-controller="get_Ipes_region"> 




            <ul data-role="listview" data-inset="true">
                <li data-role="list-divider"> Liste Régionnale des IPES  </li>
                <li ng-repeat="data in data_name_region" li-jq-mobile ng-click="nom_region(data.nom_region)"><a href="#"  data-transition="slide" >{{data.nom_region}}</a><span class="ui-li-count">40</span></li>

            </ul>




            <div data-role="footer" data-theme="c">
                <div data-role="navbar">
                    <ul>
                        <li ng-click="Region()"><a href="#" class="ui-btn-active ui-state-persist" data-transition="slideup">Région</a></li>
                        <li  ng-click="ActionDifferees()"><a href="#" data-transition="slideup">Actions différées</a></li>

                    </ul>
                </div><!-- /navbar -->

            </div><!-- /footer -->

        </div>
    </div> 
</div>