    
<!-- ce controleur se trouve dans lecontroleur controler_liste_Region -->

     
<div ng-controller="operation_ipes">          

    <form>
        <div style="padding:50px 10px;">

 

            <label for="text-1">  Choisir Ville :</label>
            <div data-role="fieldcontain">										 
                <select name="region" ng-model="ville_ipes" data-mini="true">
                    <option>Yaounde</option>
                    <option>Douala</option>

                </select>
            </div>

            <label for="text-1">  Choisir quartier :</label>
            <div data-role="fieldcontain">										 
                <select name="quartier" ng-model="quartier_ipes" data-mini="true">
                    <option>Nlogbessou</option>
                    <option>Nkolbisson et Ekounou</option>
                     <option>Quartier Fouda</option>
                     <option>Campus de Mvog Mbi et de Coron</option>
                </select>
            </div>
            <label for="text-1">  Nom ipes:</label>
            <input name="nom" ng-model="nom_ipes" value="" placeholder="Nom ipes" data-theme="a" type="text">

             <label for="file-2">Sigle :</label>
            <input name="user" ng-model="sigle_ipes" value="" placeholder="sigle" data-theme="a" type="text">
      
            <label for="text-1">  Accord creation:</label>
            <input name="user" ng-model="accord_creaion" value="" placeholder="Accord creation " data-theme="a" type="text">

            <label for="text-1">  Autorisation ouverture:</label>
            <input name="user" ng-model="autorisation" value="" placeholder="Autorisation ouverture " data-theme="a" type="text">

            <label for="text-1">  Nom promoteur:</label>
            <input name="user" ng-model="nom_promoteur" value="" placeholder="Nom promoteur" data-theme="a" type="text">
            
             <label for="textarea-6">Presentation de IPES</label>
            <textarea cols="40" rows="3" ng-model="presenttion" id="annonce" placeholder="Votre message"></textarea>


            <label for="file-2">Logo :</label>
            <input data-clear-btn="true" name="logo" ng-model="logo_ipes" value="logo_ipes" type="text">

           
                <legend>état établissement:</legend>
                 <select name="etablissement" ng-model="etat_ipes" data-mini="true">
                    <option>actif</option>
                    <option>inactif</option>
                 </select>
        
                

            <input value="Enregistrer" data-icon="check" ng-click="save_ipes()" data-iconpos="right" data-mini="true" data-theme="e" type="button">											
            
                             <center><div> {{result_add_ipes}}</div> </center>
        </div>	

    </form>


</div> 	 
 