 
<div ng-controller="operation_etab">          

    <form>
        <div style="padding:50px 10px;">



            <label for="text-1">  Choisir IPES</label>
          
             <select  ng-options="data as data.nom_ipes for data in data_ipes_name" select-menu-refresh ng-model="etab_zero" x-ng-change="update(etab_zero)" >
     
	    </select>



            <label for="text-1">  Libelle Etablissement :</label>
            <input name="user" ng-model="label_etab" value="" placeholder="labelle" data-theme="a" type="text">

            <label for="text-1">  Sigle etablissement</label>
            <input name="nom" ng-model="sigle_etab" value="" placeholder="sigle " data-theme="a" type="text">
            
            <label for="text-1">  Logo etablissement</label>
            <input name="nom" ng-model="logo_etab" value="" placeholder="logo " data-theme="a" type="text">


            <label for="text-1">  Choisir etat</label>
            <div data-role="fieldcontain">										 
                <select  ng-model="etat_etab" data-mini="true">
                    <option>actif</option>
                    <option>inactif</option>

                </select>
            </div>


            <input value="Enregistrer" data-icon="check" ng-click="save_etab()" data-iconpos="right" data-mini="true" data-theme="e" type="button">											
            <center><div> {{result_add_etab}}</div> </center>
        </div>	

    </form>


</div> 
  	 